body,
html {
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

#banner {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EF4444;
    color: white;
    font-weight: bold;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

#container {
    width: 80vw;
    margin: auto;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-auto-rows: 200px;
    gap: 20px;
}

.userContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}